<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Curso</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos2.css') }}">
</head>

<body>
    <header>
        <a href="#" class="logo">
            <span>NI</span>TE
        </a>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar" class="fa fa-bars"></label>
        <nav class="navbar">
            <a href="/gView">inicio</a>
        </nav>

    </header>
    <section class="login" id="login">
        <div class="bottons">
            <center><a href="/gView" class="btn" disabled><i class="fa-solid fa-badge-check"></i>Anterior</a></center>
        </div>
        <div class="vid">
            <h2 class="heading">Suma de fracciones</h2>
            <center><h1>9/10</h1></center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/LVHo5xvsvO0?start=8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="bottons">
            <center><a href="/curso2" class="btn"><i class="fa-solid fa-badge-check"></i>Siguiente</a></center>
        </div>
    </section>
</body>

</html>