<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>NITE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos2.css') }}">
</head>

<body>
    <header>
        <a href="#" class="logo">
            <span>NI</span>TE
        </a>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar" class="fa fa-bars"></label>
        <nav class="navbar">
            <a href="/gView">inicio</a>
        </nav>

    </header>
    
    <section class="prueba" id="prueba">
        <center>
        <select name="select" class="fa-solid fa-laptop-code">
            <option value="value1" selected><h3>Selecciona el grado           </h1></option>
            <option value="value2" >Primaria</option>
            <option value="value3">Secundaria</option>
          </select>
          
          <select name="select" class="fa-solid fa-laptop-code">
            <option value="value1" selected><h3>Selecciona el nivel            </h1></option>
            <option value="value2" >1</option>
            <option value="value3">2</option>
            <option value="value3">3</option>
          </select>
          <select name="select" class="fa-solid fa-laptop-code">
            <option value="value1" ><h3>Selecciona la materia                  </h1></option>
            <option value="value2" >Matemáticas</option>
            <option value="value3">Geografia</option>
            <option value="value2" >Física</option>
            <option value="value3">Biologia</option>
          </select>
        </center>
        <br>
        <h1>Realiza una busqueda</h1>
        <input type="text" class="redondeado">
        <div class="bottons">
            <a href="/index" class="btn"><i class="fa-solid fa-badge-check"></i>Buscar</a>
        </div>
        <h1 class="heading">Ver temas</h1>
        <!--Elimine el select y el div que lo contenia-->
        <div class="caja-contenedor">
            <div class="caja">
                <i class="fa-solid fa-laptop-code"></i>
                <div class="user">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Y5f0gcjwPyc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3>Suma de fracciones</h3>
                    <div class="comentarios">
                        Uriel Badillo Garrido
                    </div>
                </div>
            </div>
            <div class="caja">
                <i class="fa-solid fa-laptop-code"></i>
                <div class="user">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/J6HLlOSJuGM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3>Divisiones</h3>
                   
                    <div class="comentarios">
                        Gabriel Lopez Aguirre
                    </div>
                </div>
            </div>
            <div class="caja-contenedor">
                <div class="caja">
                    <i class="fa-solid fa-laptop-code"></i>
                    <div class="user">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/EG1rQT1DXDQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <h3>Suma de fracciones</h3>
                        <div class="comentarios">
                            Uriel Badillo Garrido
                        </div>
                    </div>
                </div>
                <div class="caja">
                    <i class="fa-solid fa-laptop-code"></i>
                    <div class="user">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/QwPdrARHpSk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <h3>Divisiones</h3>
                       
                        <div class="comentarios">
                            Gabriel Lopez Aguirre
                        </div>
                    </div>
                </div>
                <div class="caja-contenedor">
                    <div class="caja">
                        <i class="fa-solid fa-laptop-code"></i>
                        <div class="user">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/Y5f0gcjwPyc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <h3>Suma de fracciones</h3>
                            <div class="comentarios">
                                Uriel Badillo Garrido
                            </div>
                        </div>
                    </div>
                    <div class="caja">
                        <i class="fa-solid fa-laptop-code"></i>
                        <div class="user">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/J6HLlOSJuGM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <h3>Divisiones</h3>
                           
                            <div class="comentarios">
                                Gabriel Lopez Aguirre
                            </div>
                        </div>
                    </div>
    </section>
</body>

</html>