<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>NITE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos2.css') }}">
</head>

<body>
    <header>
        <a href="#" class="logo">
            <span>NI</span>TE
        </a>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar" class="fa fa-bars"></label>
        <nav class="navbar">
            <a href="/gView">inicio</a>
        </nav>

    </header>
    
    <section class="prueba" id="prueba">
        <br>
        <h1 class="heading">Notificaciones</h1>
        <!--Elimine el select y el div que lo contenia-->
        <div class="caja-contenedor">
            <div class="caja">
                <i class="fa-solid fa-laptop-code"></i>
                <div class="user">
                    
                    <h3>Clase de matemáticas</h3>
                    <div class="comentarios">
                        21/07/22 <br>
                        13:00<br>
                    </div>
                    <a href="#informacion" class="btn">Chat</a>
                    <a href="#informacion" class="btn">Videollamada</a>
                </div>
            </div>
            <div class="caja">
                <i class="fa-solid fa-laptop-code"></i>
                <div class="user">
                    
                    <h3>Español</h3>
                    <div class="comentarios">
                        23/07/22 <br>
                        15:00<br>
                    </div>
                    <a href="#informacion" class="btn">Chat</a>
                    <a href="#informacion" class="btn">Videollamada</a>
                </div>
            </div>
    </section>
</body>

</html>