{% extends "base.html" %}
{% block body %} 
<header>
    <a href="#" class="logo">
        <span>NI</span>TE
    </a>
    <input type="checkbox" id="menu-bar">
    <label for="menu-bar" class="fa fa-bars"></label>
    <nav class="navbar">
        <a href="/">inicio</a>
    </nav>

</header>
<section class="login" id="login">
    <form method="POST" action="">
        <h1 class="heading">Identificate</h1>
        <div class="bottons">
        
            <a href="createP" class="btn"><i class="fa-solid fa-badge-check"></i>Soy padre</a>
            <br>
            </br>
            <a href="createPF" class="btn"><i class="fa-solid fa-badge-check"></i>Soy profesor</a>
        
        </div>
    </form>
</section>
{% endblock %}